---
const {post} = Astro.props;
---

<li class="blog-post__preview">
  <a class="blog-post__preview-link" href={post.href} aria-label={post.title}>
    <img src={post.featuredImage} alt={post.title} />
    <span class="sr-only">{post.title}</span>
  </a>
</li>


<style>
.blog-post__preview img {
  margin-bottom: 1rem;
  border-radius: calc(var(--theme-shape-radius) /2);
  transition: border-radius var(--theme-transition);
  box-shadow: var(--theme-image-shadow);
}
.blog-post__preview:hover img {
  border-radius: var(--theme-shape-radius);
}
.blog-post__preview-link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
</style>
