---
import { Container } from '@components/odyssey-theme';
import Layout from './Page.astro';
const {content: {title, description, publishDate, canonicalURL, featuredImage, hideDate = false, centerTitle = false} } = Astro.props;

const seo = {
	title,
	description,
  publishDate,
	canonicalURL,
	image: featuredImage,
};
---
<Layout seo={seo}> 
  <div class="post-header__container">
    <h1 class:list={{ 'post-header__title': true, 'post-header__title--center': centerTitle }}>{title}</h1>
    {!hideDate && publishDate && (
      <p class="post-layout__date">
        <time><em>{publishDate}</em></time>
      </p>
    )}
    {featuredImage && <img class="post-layout__img" src={featuredImage} alt={title} />}
  </div>
  <Container narrow>  
    <article id="article">
        <slot></slot>
    </article>
  </Container>
</Layout>

<style>
  #article {
    padding-bottom: 3rem;
  }
  .post-header__container {
    max-width: var(--theme-blog-post-header-width);
    margin: 1rem auto;
    padding: var(--container-padding);
  }
  .post-layout__img {
    margin: clamp(1.5rem, 4vw, 2.5rem) auto;
    border-radius: var(--theme-shape-radius);
  }
  .post-layout__date {
    margin-bottom: 1rem;
    opacity: 0.84;
  }
  .post-header__title {
    margin-bottom: 0.5rem;
  }
  .post-header__title--center {
    text-align: center;
  }
  #article > :first-child {
    margin-top: clamp(3.5rem, 7vw, 5rem);
  }
</style>
